* {
    padding: 0;
    margin: 0;
}

Body {
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: rgb(64, 146, 55);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.gameboard {
    height: 500px;
    width: 600px;
    background-color: black;
    border-radius: 2px;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.gamebox {
    margin: 2px;
    background-color: gray;
    border-radius: 2px;
    padding: center;
    text-align: center;
}

.gamebox:hover {
    transform: scale(1.02);
}

h1 {
    margin: auto;
    padding: 1rem;
    width: max-content;
    color: #273e66;
}

footer {
    width: 100%;
    text-align: center;
    padding: 1rem;
    background-color: rgb(209, 208, 208);
}

a {
    text-decoration: none;
    color: #000000;
}
